.container {
  display: flex;
  flex-direction: row;
 
}
.left {
  color: rgb(238, 184, 34);
  padding: auto;
  margin-right: 40px;
}
.right {
  color: rgb(238, 184, 34);
  padding: auto;
  margin-left: 150px;
}
.pass
{
  color: rgb(32, 178, 39);
  position: absolute;
  left: 60px;
  top:10px;
  border: solid green;
}
/* .detail {
  text-align: left;
 
  align-content: flex-start;
  } */

/* .det {
  color: brown;
  border: solid red;
} */
